.App {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas:
    'log simulation'
    'log controls'
    'log extra';
  grid-template-columns: 16em auto;
}

.App > div {
  margin: 1em;
}

.controls {
  grid-area: controls;
  display: flex;
  justify-content: flex-start;
}
.simulation {
  grid-area: simulation;
  display: flex;
  justify-content: flex-start;
}
.log {
  grid-area: log;
}

.Weights {
  font-size: .7em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
}

.Weights table {
  border-collapse: collapse;
}

.Weights input {
  font-size: 1em;
  padding: 0;
}

.Analysis {
  width: 25em;
  margin: 0 1em;
  font-size: .8em;
}

.Analysis > span {
  font-weight: bold;
}

.Histogram {
  width: 25em;
}

.GameStats {
  font-size: .75em;
  width: 18em;
}

.GameStats table {
  border-collapse: collapse;
}

.GameStats td {
  padding: 0 .3em;
  border: 1px solid black;
  width: 4em;
}

.GameStats td:first-of-type {
  width: auto;
}

.GameState {
  margin: 0 1em;
  display: grid;
  grid-template-areas:
    'scoreboard scoreboard'
    'bases info';
}

.ScoreBoard {
  grid-area: scoreboard;
}

.ScoreBoard td {
  margin: 1em;
  padding: .2em;
  border: 1px solid black;
  text-align: center;
}

.ScoreBoard th {
  padding: .4em;
}

.InningState {
  width: 20em;
  grid-area: info;
}

.InningState th {
  text-align: right;
}

.BaseRunners {
  grid-area: bases;
  margin:  1em 1em 0 1em;
}

.GameLog {
  font-size: .7em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.GameLog p {
  margin: 0;
}

.InningLog {
  border: 1px solid black;
  margin: .5em;
  padding: .5em;
}

.Away {
  color: blue
}

.Home {
  color: red;
}

.Active {
  color: white;
  background-color: #444;
}

.Bases {
  stroke: black;
  fill: none;
}

.Bases > rect {
  fill: none;
}

.Bases > rect.HasRunner {
  fill: currentColor;
}

button {
  padding: .5em;
  margin: .5em;
}

input[type='number'] {
  width: 5em;
}

select {
  margin: .5em;
}

label {
  font-size: .7em;
}
